.offline{
    background-color:rgb(242, 242, 242);
    text-align: center;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    & h1{
        margin-block-start: 0;
        position: relative;
        color: #3f3d56;
        &.darkWarning{
            color:rgb(242, 242, 242);
        }
    }
    .svg{
        cursor: initial;
        &.darkSvg{
            cursor: initial;
            & path{
                fill: rgb(242, 242, 242);
                &:first-of-type{
                    display: none;
                }
                &:nth-last-of-type(-n+2){
                    fill: none;
                }

            }
            & path:first-of-type{
            }
            & path{
                fill: rgb(242, 242, 242);
            }
        }
    }  
}
.svgWrapper{
    position: relative;
    width:100%;
    max-width:1050px;
    margin: 0 auto;
    .ratio{
        padding-top: 74.279%;
    }
}