.offline{
    background-color:rgb(242, 242, 242);
    text-align: center;  
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    & h1{
        margin-block-start: 0;
        position: relative;
        color: #3f3d56;
        &.darkWarning{
            color:rgb(242, 242, 242);
        }
    }
}
.svgWrapper{
    position: relative;
    width:100%;
    max-width:1050px;
    margin: 0 auto;
    .ratio{
        padding-top: 74.279%;
    }
}
.header{
    &.dark{
        & *{
            color: #f2f2f2;
        }
    }
    & > *{
        margin-bottom: 0 !important;
        margin-top:35px !important;
    }
    text-align: left;
}